
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font: italic 20px Courier;
}

html {
	height: 100%;
	background: rgb(247, 218, 192);
	background-size: cover;
}

#calculator {
	width: 327px;
	height: auto;
	margin: 100px auto;
	padding: 20px 20px 0px;
	background: rgb(160, 223, 248);
    border: solid 0.3mm #3ba6fd;
	border-radius: 15px;
}

.top .screen {
	height: 40px;
	width: 212px;
	float: left;
	padding: 0 10px;
	background: white;
    border: solid 0.6mm #6b54d3;
	border-radius: 3px;
	font-size: 13px;
	line-height: 40px;
	color: black;
	text-align: right;
	letter-spacing: 1px;
}

.keys, .top {overflow: hidden;}

.keys span, .top span.clear {
	float: left;
	position: relative;
	top: 0;
    cursor: pointer;
    user-select: none;
	width: 55px;
	height: 36px;
    border: solid 0.3mm #6b54d3;
	background: #3ba6fd;
	border-radius: 50px;
	margin: 0 18px 20px 0;
	color: white;
	line-height: 36px;
	text-align: center;
	transition: all 0.2s ease;
}

.keys span:active {
	top: 2px;
}

.keys span.operator {
	background: #6b54d3;
    border: solid 0.3mm #5a00eb;
    float: right;
	margin-right: 0;
}

.top span.clear {
    height: 40px;
	background: #5a00eb;
    border: solid 0.3mm #4700b9;
	color: #ffffff;
    border-radius: 3px;
}

.top span.clear:active {
	top: 2px;
}

.keys span.eval {
	background: #5a00eb;
    border: solid 0.3mm #4700b9;
	color: #ffffff;
}

.keys span.eval:active {
	top: 2px;
}


